[buildout]
develop = .
parts = interpreter test
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
versions = versions
extensions = buildout.dumppickedversions


[versions]
grokcore.formlib = 

[interpreter]
recipe = zc.recipe.egg
eggs = grokcore.formlib
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = grokcore.formlib
       grokcore.formlib[test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
